if SHIELD_DANA58_LEFT

config ZMK_KEYBOARD_NAME
    default "dana58"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_DANA58_LEFT || SHIELD_DANA58_RIGHT

config ZMK_SPLIT
    default y

endif